.App {
    text-align: center;
}

.App-header {
    background-color: #222;
    height: 60px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.app-block {
    width: 1000px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid grey;
}

.App .product-table, .App .history{
  text-align: left;
}
.App .product-table button{
  position: absolute;
  right: 80%;
}
.App .history .history-header,.App .history p{
    margin: 0;
}