.App {
    text-align: center;
}

.App-header {
    background-color: #222;
    height: 60px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.app-block {
    width: 1000px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid grey;
}
