body{
  background: firebrick;
  padding-top: 70px; 
}
table{
  border-collapse: collapse;
  width:80%;
  margin: 0 auto;
}
tr{
  background:#eee;
}
td{
  padding: 10px;
  width: 100%;
  background: transparent;
  transition: all 1s ease;
  cursor: pointer;
  margin: 0;
}
tr:nth-child(2n+0){
  background: #e4e4e4;
}
.button-inline{
  border: 0;
  background: transparent;
  cursor: pointer;
}
tr:hover{
  background: #d8d8d8;
}
h1{
  color:#eee;
  text-align: center;
}
.return{
  width: 95px;
  margin: 30px auto;
}
.return button{
  color:#eee;
  text-align:center;
  background:transparent;
  border:1px solid #eee;
  padding:10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .3s ease;
}
.return button:hover{
  color: firebrick;
  background: #eee;
}
.history_list {
  width:80%;
  margin: 0 auto;
}
.history_list ul li{
  color:#eee;
  list-style-type:none;
  line-height:1.5em;
  text-align:center;
  margin: 10px 0px;
}