body {
  background: firebrick;
  padding-top: 10px;
}
table {
  border-collapse: collapse;
}
tr {
  background: #eee;
}
td {
  padding: 10px;
  width: 100%;
  background: transparent;
  transition: all 1s ease;
  cursor: pointer;
  margin: 0;
}
tr:nth-child(2n + 0) {
  background: #e4e4e4;
}
.button-inline {
  border: 0;
  background: transparent;
  cursor: pointer;
}
tr:hover {
  background: #d8d8d8;
}
h1 {
  color: #eee;
  text-align: center;
}
h5 {
  color: #eee;
  text-align: center;
}
.history_list ul {
  padding: 0;
}
.history_list ul li {
  color: #eee;
  list-style-type: none;
  line-height: 1.5em;
  text-align: center;
  margin: 10px 0px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0px 150px;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
}
table {
  width: 500px;
}
.btnClear {
  padding: 8px 15px;
  background: transparent;
  color: #eee;
  border: 1px solid #eee;
  transition: 0.5s all ease;
  cursor: pointer;
  margin: 0 auto;
  width: 100%;
}
.btnClear:hover {
  color: firebrick;
  background: #eee;
}
.mainNav {
  display: flex;
  justify-content: center;
}
.mainNav li {
  display: inline;
  margin-right: 20px;
}
.mainNav li a {
  color: #eee;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: underline;
}
.homeComponent h2 {
  margin-top: 50px;
  text-align: center;
  color: #eee;
}
.productItemDetails h3 {
  margin-top: 60px;
  color: #eee;
  letter-spacing: 0.1em;
  font-size: 150%;
  text-align: center;
}
.productItemDetails ul {
  margin: 0 auto;
  width: auto;
  padding: 0;
}
.productItemDetails ul li {
  color: #eee;
  list-style-type: none;
  line-height: 1.5em;
  margin: 10px 0px;
  padding: 10px;
  text-align: center;
  letter-spacing: 0.1em;
}
.active {
  text-decoration: underline;
}
